<h1 class="ng-scope">Register</h1>
<form ng-submit="register()" name="registerForm" class="form-horizontal ng-scope ng-pristine ng-invalid ng-invalid-required">
    <div class="control-group">
        <label for="username" class="control-label">Username</label><div class="controls"><input class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength" data-ng-model="username" placeholder="Username" name="username" required="required" data-ng-minlength="1" data-ng-maxlength="20" type="text"></div></div>
    <div class="control-group">
        <label for="password" class="control-label">Password</label><div class="controls"><input class="ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength" data-ng-model="password" placeholder="Password" name="password" required="required" data-ng-minlength="5" data-ng-maxlength="60" type="password"></div></div>
<!--    <div class="control-group">
        <label class="radio inline">
            <input class="ng-pristine ng-valid" name="role" data-ng-model="role" id="adminRole" data-ng-value="userRoles.admin" type="radio">Administrator
        </label>
        <label class="radio inline">
            <input class="ng-pristine ng-valid" name="role" data-ng-model="role" id="adminRole" data-ng-value="userRoles.user" type="radio">Normal user
        </label>
    </div>-->
    <div class="control-group">
        <div class="controls">
            <button disabled="disabled" type="submit" data-ng-disabled="registerForm.$invalid" class="btn">Submit
            </button>
        </div>
    </div>
    <div ng-show="registerForm.$invalid" class="alert alert-error">
        <strong>Please correct the following errors:</strong>
        <ul><li ng-show="registerForm.username.$error.required">Username is required</li>
            <li style="display: none;" ng-show="registerForm.username.$error.minlength">Username has to be at least 1 character long</li>
            <li style="display: none;" ng-show="registerForm.username.$error.maxlength">Username has to be at most 20 character long</li>
            <li ng-show="registerForm.password.$error.required">Password is required</li><li style="display: none;" ng-show="registerForm.password.$error.minlength">Password must be at least 5 characters long</li><li style="display: none;" ng-show="registerForm.password.$error.maxlength">Password must be at most 60 characters long</li>
        </ul>
    </div>
</form>