/* app css stylesheet */
#container{
    position:relative;
}
#slider{
    background:rgb(85, 83, 80);
    position: absolute;
    left: 0;
    top: 0;
    width:80%;
    /*overflow: scroll;*/
    color: white;
    z-index: 1;
    /*margin-top:-18px;*/
}
#slider span{
   padding: 10px;
   display:         block;
   border-bottom-width: 1px;
   border-bottom-color: white;
   border-bottom-style: solid;
}
.header-bar{
    padding: 5px;
}
#map{
    /*height: 550px;*/
}
